<div id="<%= dom_id answer %>">
  <p>
    <strong>Correct:</strong>
    <%= answer.correct %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= answer.name %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

</div>
