<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <p class="title">
      Warning!
    </p>
    <p class="subtitle">
      Skimountaineers at work.
    </p>
  </div>
</section>
